# Data
/data/


# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env
*.egg-info/
dist/
build/
.eggs/

# Sphinx
docs/build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignore results and temporary files
results/
*.log

# Ignore virtual environments
venv/
ENV/